<div class="container">
  <h1 class="my-4">My Todo list</h1>

  <div class="row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="todoItem"
        placeholder="Add new todo"
        (keyup.enter)="addTodo()"
      />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="addTodo()">Add todo</button>
    </div>
  </div>

  <h1 class="my-4">TODOs</h1>

  <div class="row text-center my-4">
    <div class="col-10">
      <ul *ngIf="todoItems" class="list-group">
        <li
          class="
            list-group-item
            d-flex
            align-items-between
            justify-content-between
            align-items-center
          "
          *ngFor="let item of todoItems"
        >
          <span class="pe-4">{{ item.description }}</span>
          <span>
            <span (click)="completeTodo(item.description)">
              <i
                class="
                  bi bi-check-square bi-custom bi-hover-success
                  color-success
                "
              ></i>
            </span>
            <span class="mx-2" (click)="removeTodo(item.description)"
              ><i class="bi bi-x-square bi-custom bi-hover-danger"></i
            ></span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <h1 *ngIf="finishedItems">Finished</h1>

  <div class="row text-center my-4">
    <div class="col-10">
      <ul *ngIf="finishedItems" class="list-group">
        <li
          class="
            list-group-item
            d-flex
            align-items-between
            justify-content-between
            align-items-center
            border-success
          "
          *ngFor="let item of finishedItems"
        >
          <span class="pe-4">{{ item.description }}</span>
          <span>
          <span class="mx-2" (click)="CompletelyRemoveTodo(item.description)"
            ><i class="bi bi-x-square bi-custom bi-hover-danger"></i
          ></span>
        </span>
        </li>
      </ul>
    </div>
  </div>

  <h1>Search</h1>
  <div class="row">
    <div class="col-6">
      <input
        type="text"
        [(ngModel)]="searchInput"
        (ngModelChange)="searchItem()"
        class="form-control"
      />
    </div>
  </div>
  
  <div class="row text-center my-4">
    <div class="col-10">
      <ul *ngIf="searchOutput" class="list-group">
        <li
          class="
            list-group-item
            d-flex
            align-items-between
            justify-content-between
            align-items-center
            border-primary
          "
          *ngFor="let item of searchOutput"
        >
          <span class="pe-4">{{ item.description }}</span>
          <span> </span>
        </li>
      </ul>
    </div>
  </div>
</div>
